#content {
    overflow-x: hidden;
}

#view-time-card-dialog > div.modal-dialog {
    width:700px;
}

.btn-search.disabled {
    cursor:not-allowed!important;
}

/* prevent color change when hovering over a disable GO-button (in timecard) */
.go:disabled:hover {
    background: #348fe2 !important;
    border-color: #348fe2 !important;
}

/* Adding extra offset since we are not using h1 at top of each page */
/* the second navbar that appears on small screens overlaps content otherwise */
@media (max-width: 767px) {
    .page-header-fixed {
        padding-top: 104px;
    }
}
