.upper_case_input {
    text-transform:uppercase;
}

.navbar-form .btn-search {
    right: 0px !important;
    top: 0px !important;
}

.navbar-form .form-control:focus {
    width: 200px !important;
    animation: none !important;
    -webkit-animation: none !important;
}

.animate {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.animate:hover {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}