/* fix for a gallery v1 image, it would stretch otherwise */
/*.gallery .image img {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.time-card .remove-time-card {
    position: absolute;
    right: 0;
    opacity: 1;
    color: white;
    background-color: #aaa;
    z-index: 999;
    border-radius: 15px;
    padding: 2px 5px 2px 5px;
    font-weight: 100;
    margin: 5px;
    font-size:12px;
}

.time-card .remove-time-card:hover {
    color:white;
    background-color: black;
}