/* with of image in search results */
/*.result-list .result-image {*/
    /*width: 165px !important;*/
/*}*/

.person {
    opacity: 0;
    padding:10px;
    padding-bottom:0px;
}

.person .details {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    width: 165px;
    height: 45px;
    padding:6px;
    float:left;
}

.person .employee_id {
    font-style: italic;
    color: #aaa;
}

.person .action {
    width: 20px;
    height:100%;
    line-height: 45px;
    text-align: center;
    background-color:#565d62;
    color:white;
    display:inline-block;
}

.person .action:hover {
    background-color: #6c7176;
    cursor:hand;
}

.person > a {
    padding:0 !important;

    width: 45px;
    height: 45px;
    background: #d4d0c8;
    line-height: 45px;
    text-align: center;
}

.person:last-child {
    margin-bottom:20px;
}

.person img {
    max-width:45px;
    max-height:45px;
    vertical-align: middle;
}

.person_list .image {
    float: left;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    overflow: hidden;
}

.image.male {
    border-right: 2px solid #0088cc;
}

.image.female {
    border-right: 2px solid #ff339d;
}

a.male[data-lightbox] > img {
    border-bottom: 2px solid #0088cc;
}

a.female[data-lightbox] > img {
    border-bottom: 2px solid #ff339d;
}

.image-inner {
    background-color: #f3e8d6 !important;
}

.btn-search {
    background-color:#565d62 !important;
    color:white !important;
}

.btn-search:hover(not:disabled) {
    background-color:#6c7176 !important;
}

.badge_spinner {
    -webkit-animation: spinner 1.5s infinite linear;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        -ms-transform: rotate3d(0, 1, 0, 0deg);
        -o-transform: rotate3d(0, 1, 0, 0deg);
        transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
        -ms-transform: rotate3d(0, 1, 0, 180deg);
        -o-transform: rotate3d(0, 1, 0, 180deg);
        transform: rotate3d(0, 1, 0, 180deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
        -ms-transform: rotate3d(0, 1, 0, 360deg);
        -o-transform: rotate3d(0, 1, 0, 360deg);
        transform: rotate3d(0, 1, 0, 360deg);
    }
}