/*td.status_l {*/
    /*background-color: #fb7d7d !important;*/
/*}*/
/*td.status_p {*/
    /*background-color: #9ed670 !important;*/
/*}*/
/*td.status_h {*/
    /*background-color: #a0caf0 !important;*/
/*}*/
/*td.status_a {*/
    /*background-color: #e8d174 !important;*/
/*}*/

td.status_l {
    background-color: #d3d7c6 !important;
}
td.status_p {
    background-color: #54ddbc !important;
}
td.status_h {
    background-color: #afc8c9 !important;
}
td.status_a {
    background-color: #b59fab !important;
}


#data-table td {
    text-align: center;
}

tr.payroll-row td {
    vertical-align: middle !important;
}

.profile-image img {
    min-width:100%;
}

th.sunday {
    background: black;
    color:white !important;
    /*border: 2px solid black !important;*/
}

th.nh {
    background-color: #00acac;
}

th.dh {
    background-color: #f59c1a;
}

td[data-day="sunday"] {
    border-left-color: black !important;
    border-right-color: black !important;

    border-left-width: 2px !important;
    border-right-width: 2px !important;
}

th.sunday {
    border-bottom-color: black !important;
}

td[data-day="nh"] {
    border-left-color: #00acac !important;
    border-right-color: #00acac !important;

    border-left-width: 2px !important;
    border-right-width: 2px !important;
}

td[data-day="dh"] {
    border-left-color: #f59c1a !important;
    border-right-color: #f59c1a !important;

    border-left-width: 2px !important;
    border-right-width: 2px !important;
}



body {
    background-color:rgba(181, 178, 162, 0.5);
}

.time-card-table .editable-click, .time-card-table .editable-click:hover {
    border-bottom: none !important;
}



/* prevent colun to become white in time picker */
.combodate {
    color: #707478 !important;
}

a.editable:hover {
    color: white !important;
}

/*tr[data-blockedperiods] a.editable:hover {*/

/*}*/

/*.time-card-table td:hover {*/
    /*color: white !important;*/
/*}*/

.time-card-table .editable-empty,
.time-card-table .editable-empty:focus {
    font-style: normal !important;
    color: black !important;
}

.time-card-table td > a {
    width: 100%;
    height: 100%;
    padding: 7px 15px;
    display: block;
}

.time-card-table td.p-0:hover,
.time-card-table td.has_periods.p-0:hover,
.time-card-table tr:nth-child(odd) td.has_periods.p-0:hover
{
    background-color: #0088cc !important;
    color:white !important;
    cursor:pointer;
}


.time-card-table tr[data-blockedperiods] td.has_periods {
    background-color: #d6ebf2 !important;
    border-right: 1px solid white
}

.time-card-table tr[data-blockedperiods]:nth-child(odd) td.has_periods {
    background-color: #cde7f0 !important;
    border-right: 1px solid white
}


.time-card-table td.p-0:hover a {
    color:white !important;
}

a.editable,a.editable:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.search_by_department {
    border-color:#ccc;
}

.search_by_department:focus {
    border-color:#9fa2a5 !important;
}




/*tr.odd > td.status_p {*/
    /*background-color: #a7da7e !important;*/
/*}*/

/*tr.odd > td.status_f {*/
    /*background-color: #f69c9c !important;*/
/*}*/

/*tr.odd > td.status_h {*/
    /*background-color: #ead581 !important;*/
/*}*/